<div class="col-md-6 col-md-offset-3 text-center">
  <h3>Enter the players being exchanged. Output value is based on aggregated ADP data.</h3>
</div> 

<div class="col-md-5">
  <form name="q" method="get">
    <div class="form-group">
      <label for="team1">Team 1</label>
      <input type="player" class="form-control" id="t1p1" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t1p2" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t1p3" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t1p4" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t1p5" placeholder="Player Name">
    </div>
    <br>
    <h3>Team 1 Value: </h3>
</div>

<div class="col-md-5 col-md-offset-1">
    <div class="form-group">
      <label for="team2">Team 2</label>
      <input type="player" class="form-control" id="t2p1" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t2p2" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t2p3" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t2p4" placeholder="Player Name">
      <br>
      <input type="player" class="form-control" id="t2p5" placeholder="Player Name">
    </div>
    <br>
    <button type="submit" form="q" value="Submit">Submit</button>
    <br>
    <h3>Team 2 Value: </h3>
    </form>
</div>